########################################
# Python
########################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

########################################
# Virtual Environment
########################################
.venv/
venv/
env/

########################################
# PyTorch
########################################
*.pt
*.pth
*.ckpt

########################################
# Training outputs
########################################
outputs/
runs/
logs/
tensorboard/

########################################
# Dataset
########################################
data/
hateful_meme/
*.jsonl

########################################
# HuggingFace cache
########################################
.cache/
huggingface/
hf_home/
*.safetensors

########################################
# IDE
########################################
.vscode/
.idea/

########################################
# OS
########################################
.DS_Store
Thumbs.db
desktop.ini

########################################
# Jupyter
########################################
.ipynb_checkpoints/